* {
  box-sizing:content-box;
}

body {
  font-family: Arial;
  background-image: url('blogpics/Blue\ Gold\ Illustrated\ Marble\ Phone\ Wallpaper.png');
  background-size: cover;
}

/* Header/Blog Title */
.header {
  padding: 5px;
  font-size: 40px;
  text-align: center;
  background: beige;
}

/* Left column */
.leftcolumn {   
  float: left;
  width: 70%;
}

/* Right column */
.rightcolumn {
  float:right;
  width: 25%;
  padding-left: 10px;
}

/* Image */
.img {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
   background-color: beige;
   padding: 20px;
   margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer
.footer {
  padding: 10px;
  text-align: center;
  background: #ddd;
  margin-top: 15px;
}
*/

@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}